.pokemon-list {
  .pokemon-list-name {
    text-transform: capitalize;
  }
}

.centered {
  position: fixed;
  top: 50vh;
  left: 50vw;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
