.pokemon-card {
  width: 500px;

  .pokemon-card-first-col {
    text-align: center;

    .pokemon-card-image {
      img {
        width: 150px;
      }
    }
  }

  .pokemon-card-name {
    text-transform: capitalize;
  }

  .pokemon-card-type {
    margin-right: 5px;
  }
}

.centered {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
  transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
}
