<mat-nav-list *ngIf="pokemons" class="pokemon-list">

  <form class="pokedex-sidenav-form">
    <mat-form-field class="example-full-width">
      <input type="text" [(ngModel)]="pokemon" matInput placeholder="Pokemon Name" name="pokemon">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>
  </form>

  <mat-list-item *ngFor="let pokemon of pokemons | filter : pokemon;" routerLink="/pokedex/{{pokemon.id}}">
    <img matListAvatar src="assets/pokemon-sprites/official-artwork/{{ pokemon.id }}.png" alt="Photo of a Pokemon">
    <h3 matLine class="pokemon-list-name"> {{ pokemon.id | number: '3.0-0'}}. {{ pokemon.name }}</h3>
  </mat-list-item>
</mat-nav-list>

<mat-spinner class="centered" *ngIf="!pokemons"></mat-spinner>
